.App {
  text-align: center;
}


.main-back {
  background-image: url(/src/assets/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
  background-color: #010c02; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: cover; /* or contain depending on what you want */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

