body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #010c02; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-element{
  display: flex;
  flex-wrap: wrap;
  background-color: #011d23;

}

.header-component-title{
  margin-bottom: -10px;
  padding-bottom: 25px;
}

.component-title{
  color: #FFFFFF;
  background-color: #011d23;
  
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}
ul{
  /*remove bullets from list items*/
  list-style-type: none; 
  
}

/* nav element spacing through li margins  */
.nav-list-item{
  margin-right: 80px;
  margin-left: 80px;
  color: white;
}


a:hover {
  text-decoration: underline;
}

/* project thumbnails styling -- bootstrap implementation would be a good look*/

.projects-box{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
width: 1000px;
height: 1000px;

}

.project{
  height: 200px;
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: rgb(255, 255, 255, .5) 5px solid;
  border-radius: 15%;
  
}

div.project:hover{
  opacity: .7;
 
}

.profile-image{
  height: 300px;
  width: 400px;
  float: left;
  margin-right: 15px;
  border-radius:20px;
  opacity: .7;
  
}

#resume{
  
  width: 600px;
}


/*projects' background images */

#project1{
  background-image: url(assets/0.jpeg) ;
  background-color: black ;
  background-size: cover;
  height: 200px;

}

#project2{
  background-image: url(assets/1.jpeg) ;
  background-color: black ;
  background-size: cover;
  height: 200px;
 
}

#project3{
  background-image: url(assets/2.jpeg) ;
  background-color: black ;
  background-size: cover;
  height: 200px;

}

#project4{
  background-image: url(assets/3.jpeg) ;
  background-color: black ;
  background-size: cover;
  height: 200px;
  
}

#project5{
  background-image: url(assets/4.jpeg) ;
  background-color: black ;
  background-size: cover;
  height: 200px;
  
}


.form-field .message-field{
  margin: 5px;
  width: 200px;
  color: #FFF3D9;
}

.message-field{
  width: 200px;
  
}



.subheader{
  font-size: 15px;
}

.project-description{
  font-size: small;
  color: #948155;
  background-color: white;
}



.form-labels{
  color: #FFF3D9;
}

.code-snippet-body{
 background-color: #FFFFFF;

}

.code-snippet-title{
 font-size: 15px !important;
}



.about-description{
  width: 800px;
  margin: 80px;
  color: #FFFFFF;
 
}

.fullstack-list-item{
  color: black;
}

.programmer-list-item{
  color: black; 
}

/* contact component */
.contact-header{
  color: #FFFFFF;
  
}

.contact-page-div{
  background-size: cover;  

}

/* footer */ 

.footer{
  background-color: #011d23;
  margin: 0px;
}

.code-snippet-card{
margin: 5px 15px 0 15px;
opacity: .8;
}



/* Media Query Section for Responsiveness */

@media only screen and (max-width: 600px) {
  /* header */ 


 /*resume component */
  #resume{
    width: 500px;

  }

  /*project component */
  .project{
   margin: 3px;
  }

  .code-snippet-image{
    width: 100px;
    height: 400px;
    margin: 8px;
    

  }
  .card-group{
    width: 400px !important ;

  
    
  }
  .code-snippet-card{
    width: 380px;

    
    
  }

  /*about component */


  .about-description{
    width: 200px;
    margin: 80px;
   
  }

  .profile-image{
    width: 200px;
    height:250px;
  }

  /* contact page component */

.contact-page-div{
  width: 100vw; 
}

/* Nav bar */ 


.flex-row{
  font-size:15px;

}

.nav-list-item{
  margin: 0 0 0 15px;
}

}

