body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #B5A292; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
ul{
  /*remove bullets from list items*/
  list-style-type: none; 
}

/* nav element spacing through li margins  */
li{
  margin-right: 80px;
  margin-left: 80px;
  color: white;
}


a:hover {
  text-decoration: underline;
}
